@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700&display=swap');

$primary: #31c4f3;
$black: #1f212b;
$gray: #a2b4cc;
$dark-gray: #75849d;
$white: #f7f7f7;

$bx-primary: 0 4px 4px rgba($primary, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$default-font: 'Sofia Sans', sans-serif;
