@import 'src/assets/styles/variables';

.item {
	background-color: $primary;
	padding: 10px;
	border-radius: $br-10;
	box-shadow: $bx-primary;
	color: $black;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.taskText {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
	text-align: center;
	min-height: 19px;
}

.inputEdit {
	text-align: center;
	width: 100%;
	border: none;
	outline: none;
	padding: 2px 10px;
	background-color: $white;
	font-size: 16px;
	font-family: $default-font;
	margin: 2px 0;
}

.group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.status {
	display: flex;
	flex-direction: column;
}

.user {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.done {
	background-color: $gray;
	box-shadow: $bx-16;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;

	> button:first-child {
		margin-right: 5px;
	}

	> button {
		color: $black;
		background-color: $dark-gray;
		font-size: 13px;
		font-weight: 400;
		padding: 4px 8px;
	}
}
